@import "./partials/reset";
@import "./partials/clearfix";

html {
  background-image: url("./../assets/bg.jpg");
}

header {
  background-color: white;
  height: 60px;
  width: 100%;
}

.logo {
  background-image: url("./../assets/logo.svg");
  background-repeat: no-repeat;
  background-position: left;
  height: 100%;
  width: 100%;
  margin-left: 10px;
}

#plus {
  border: 2px solid orange;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  &:after {
    content: "+";
    padding: 8px;
    color: rgb(183, 67, 38);
    font-family: 'Lato', sans-serif;
    font-size: 32px;
  }
}

#plus:hover {
  border-color: rgb(241, 89, 42);
  background-color: rgb(241, 89, 42);
  &::after {
    color: white;
  }
}

@media screen and (min-width: 600px) {
  header {
    background-image: url("./../assets/header_bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .logo {
    background-position: bottom;
    justify-content: center;
    margin: auto;
  }
}

.menu {
  background-color: rgb(58, 58, 60);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#random, #boards, #app {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: gray;
  flex-direction: column;
  margin-top: 15px;
}

#random:before {
  content: "RANDOM";
}

#random:after {
  content: "|";
  padding: 10px;
}

@media screen and (min-width: 600px) {
  #random:after {
    content: "•";
  }
}

#boards:before {
  content: "MY BOARDS";
}

#boards:after {
  content: "|";
  padding: 10px;
}

@media screen and (min-width: 600px) {
  #boards:after {
    content: "•";
  }
}

#app:before {
  content: "GET THE APP";
}

#random:hover, #boards:hover, #app:hover {
  color: rgb(241, 89, 42);
}

.main-box {
  padding: 25px;
  display: flex;
  flex-flow: row wrap;
}

.post-box {
  background-color: white;
  border: 2px solid white;
  padding: 25px;
  margin: 25px;
  width: 305px;
  height: 375px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.post-box:hover {
  border: 8px solid rgb(247, 148, 30); 
}

.title-box {
  display: block;
  overflow: hidden;
}

.date-box {
  display: block;
  white-space: nowrap;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: rgb(58, 58, 60);
}

span {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: gray; 
}

footer {
  background-color: rgb(58, 58, 60);
  background-image: url("./../assets/facebook_grey.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.instagram {
  background-image: url("./../assets/instagram_grey.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.instagram:hover {
  background-image: url("./../assets/instagram_orange.svg");
}