body {
  background-color: orange; }

#postBox {
  background-color: blue;
  padding: 25px; }

#imageBox {
  background-color: purple; }

#titleBox {
  background-color: green; }

#authorBox {
  background-color: yellow; }
